.input-password {
    input {
        padding: 0 54px;
        margin: 0 auto;
    }

    .password-eye {
        width: 40px;
        height: 40px;
        margin: -40px 0 0 280px;
        padding-top: 5px;
    }
}
