/**
 * Basic typography style for copy text
 */
$font-primary: "Arial", sans-serif;

/* Font Size */
.text-1 {
    font-size: 0.8rem !important;
}

.text-2 {
    font-size: 0.9rem !important;
}

.text-3 {
    font-size: 1rem !important;
}

.text-4 {
    font-size: 1.2rem !important;
}

.text-5 {
    font-size: 1.5rem !important;
}

.text-6 {
    font-size: 1.8rem !important;
}

.text-7 {
    font-size: 2rem !important;
}

.text-8 {
    font-size: 2.3rem !important;
}

.text-9 {
    font-size: 2.5rem !important;
}

.text-10 {
    font-size: 2.75rem !important;
}

.text-11 {
    font-size: 3rem !important;
}

.text-12 {
    font-size: 3.5rem !important;
}

.text-13 {
    font-size: 4rem !important;
}

.text-14 {
    font-size: 4.5rem !important;
}

.text-15 {
    font-size: 5rem !important;
}
